.page {
  --gray-rgb: 255, 255, 255;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
  --button-primary-hover: #ccc;
  --button-secondary-hover: #1a1a1a;

  display: flex;
  flex-direction: column;
  min-height: 100svh;
  font-family: var(--font-geist-sans, sans-serif);
  padding: 64px 32px;
  background-color: #0d0d0d;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: 800px;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 2rem;
  text-align: center;

  background: rgba(255, 255, 255, 0.04); /* полупрозрачная белая */
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 20px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.2),
    inset 0 0 10px rgba(255, 255, 255, 0.02);

  backdrop-filter: blur(10px);
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  background: linear-gradient(to right, #00dfd8, #007cf0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  font-size: 1.2rem;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.85);
  margin-top: 1.5rem;
}
